<!--[if lte IE 7 ]><html class="no-js ie lte7 lte8 lte9 css"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8 lte8 lte9 css"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9 lte9 css"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge">
<meta
	name="description"
	content="百洋钱包">
<meta
	name="keywords"
	content="">
<meta
	name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta
	name="renderer"
	content="webkit">
<meta
	http-equiv="Cache-Control"
	content="no-siteapp" />
<link
	rel="apple-touch-icon-precomposed"
	href="http://s.amazeui.org/assets/2.x/i/app-icon72x72@2x.png">
<meta
	name="apple-mobile-web-app-title"
	content="百洋钱包" />
<meta
	name="apple-mobile-web-app-capable"
	content="yes">
<meta
	name="apple-mobile-web-app-status-bar-style"
	content="black">
<!-- 公用的样式 -->
<link
	rel="shotcut icon"
	href="/images/favicon.ico"
	type="image/x-icon" />
<link
	rel='stylesheet'
	href='${ctxPath}/css/amazeui.min.css' />
<link
	rel='stylesheet'
	href='${ctxPath}/css/templates/web.css' />
<!-- 公用的js -->
<script
	type="text/javascript"
	src="${ctxPath}/js/jquery.min.js"></script>
<script
	type="text/javascript"
	src="${ctxPath}/js/amazeui.min.js"></script>